/**
 * Defaults
 *
 */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  padding: 8px;
}
h1 {
  margin-bottom: 8px;
  text-align: center;
}
pre {
  padding: 0;
}

/**
 * App styles
 *
 */
.txt-error {
  color: red;
}

.l-main-container {
  background-color: #fff;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-bottom: 8px;
  padding: 8px;
}

.l-wrap {
  padding: 8px 0;
  margin-bottom: 8px;
}
.l-wrap.m-last {
  margin-bottom: 0;
}

.l-wrap .info-wrap {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 8px;
  margin: 8px auto;
}

.l-box > .label,
.l-box > .body {
  display: inline-block;
}
.l-box > .label {
  width: 80px;
}

.l-header {
  border-left: 4px solid #274a78;
  text-indent: 4px;
}

.l-btn {
  background-color: #fff;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.l-btn:active {
  position: relative;
  top: 1px;
}
.l-btn.m-exec {
  background-color: #0094c8;
  color: #fff;
}
.l-btn.is-disabled {
  pointer-events: none;
  opacity: .5;
  color: #ccc;
}
